aufgabe3/task1Flow.json
[
    {
        "id": "6a05da4df56496c4",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "86e03d6915e3436c",
        "type": "inject",
        "z": "6a05da4df56496c4",
        "name": "1",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "str",
        "x": 70,
        "y": 200,
        "wires": [
            [
                "8529234707fd50f7",
                "838d996a9a082def"
            ]
        ]
    },
    {
        "id": "fab2512e72d9a8e9",
        "type": "inject",
        "z": "6a05da4df56496c4",
        "name": "0",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "str",
        "x": 70,
        "y": 260,
        "wires": [
            [
                "8529234707fd50f7",
                "838d996a9a082def"
            ]
        ]
    },
    {
        "id": "838d996a9a082def",
        "type": "debug",
        "z": "6a05da4df56496c4",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 220,
        "wires": []
    },
    {
        "id": "8529234707fd50f7",
        "type": "serial out",
        "z": "6a05da4df56496c4",
        "name": "Output",
        "serial": "97e5f6cab6d346a8",
        "x": 530,
        "y": 80,
        "wires": []
    },
    {
        "id": "1b31e8f52116b37d",
        "type": "serial in",
        "z": "6a05da4df56496c4",
        "name": "Input",
        "serial": "97e5f6cab6d346a8",
        "x": 70,
        "y": 380,
        "wires": [
            [
                "bf6ad687516788fd"
            ]
        ]
    },
    {
        "id": "9dc771cb74af10df",
        "type": "debug",
        "z": "6a05da4df56496c4",
        "name": "debug 14",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 420,
        "wires": []
    },
    {
        "id": "881d315058278e7f",
        "type": "ui_led",
        "z": "6a05da4df56496c4",
        "order": 0,
        "group": "2b3498e4cbf4e2fd",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ffea00",
                "value": "1",
                "valueType": "str"
            },
            {
                "color": "#191a19",
                "value": "0",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 510,
        "y": 360,
        "wires": []
    },
    {
        "id": "929271be4a752f10",
        "type": "ui_switch",
        "z": "6a05da4df56496c4",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "2b3498e4cbf4e2fd",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 90,
        "y": 40,
        "wires": [
            [
                "8529234707fd50f7"
            ]
        ]
    },
    {
        "id": "bf6ad687516788fd",
        "type": "function",
        "z": "6a05da4df56496c4",
        "name": "function 4",
        "func": "msg.payload = msg.payload.trim();\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 380,
        "wires": [
            [
                "881d315058278e7f",
                "9dc771cb74af10df"
            ]
        ]
    },
    {
        "id": "97e5f6cab6d346a8",
        "type": "serial-port",
        "name": "",
        "serialport": "COM3",
        "serialbaud": "9600",
        "databits": 8,
        "parity": "none",
        "stopbits": 1,
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "0"
    },
    {
        "id": "2b3498e4cbf4e2fd",
        "type": "ui_group",
        "name": "Light Control",
        "tab": "d0297af0eaa6ec23",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d0297af0eaa6ec23",
        "type": "ui_tab",
        "name": "LED",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4e1f92fae7f3ec99",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-node-serialport": "2.0.3",
            "node-red-contrib-ui-led": "0.4.11",
            "node-red-dashboard": "3.6.6"
        }
    }
]